/* Your Styles Here */
body {
    background-image: linear-gradient(#573615, #0cff00);
}

#stupid_cat {
    border-radius: 100px;
    border: 10px dotted red;
    animation: spin 5s linear infinite;
    position: absolute;
    left: 25%;
    top: 50%;
}

@keyframes spin {
    0%{
      transform: rotate(0deg);
    }
    100%{
      transform: rotate(360deg);
    }
}

.list {
  color: blue;
}

ul {
  background-color: cyan;
  padding: 20px;
  border-left: 20px solid black;
  border-top: 10px solid magenta;
  border-right: 5px solid orange;
  border-bottom: 30px solid purple;
}

#smiley-face {
  width: 100px;
  height: 100px;
  background-color: yellow;
  border-radius: 100px;
  position: absolute;
  top: 200px;
  left: 200px;
  border: 5px solid black;
}

.eye {
  width: 25px;
  height: 25px;
  background-color: black;
  border-radius: 50px;
  position: absolute;
}

#eye_one {
  top: 225px;
  left: 200px;
}

#eye_two {
  top: 225px;
  left: 275px;
}

#mouth {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: pink;
  position: absolute;
  top: 250px;
  left: 225px;
}

#mouth_shape {
  width: 50px;
  height: 25px;
  background-color: yellow;
  position: absolute;
  top: 250px;
  left: 225px;
}

#teeth {
  width: 25px;
  height: 10px;
  background-color: white;
  position: absolute;
  top: 275px;
  left: 235px;
}